nav{
    background-color: var(--cor-primaria);
    width: 275px;
    flex-shrink: 0;
    height: 100vh;
    display: flex;
}

nav, ul{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffff;
    padding: 10px;
}
