.bloco-vendas-container {
  flex: 1;
  max-width: 525px;
  height: 300px;
  background-color: var(--cor-primaria);
  border-radius: 6px;
  text-align: center;
  color: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  gap: 40px;
  margin-top: 30px;
}

.nav {
  font-size: 20px;
  cursor: pointer;
  margin-top: -20px;
  background: transparent;
  padding: 5x;
  color: var(--cor-background);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}


.arrow {
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}
.nav span:hover {
  color: #ccc;
  transition: 0.2s;
}