.produtos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    width: 1500px;
    height: 100px;
    background-color: white;
    padding-left: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);


}

.titulo-produtos {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
}

.produtos-container h1 {

    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    background-color: white;
}

.produtos-box {
    width: 1500px;
    height: 170px;
    background: white;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    align-items: flex-start;
}

.btn-novo-produto {
    background-color: var(--cor-primaria);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    width: 156px;
    font-size: 18px;
    cursor: pointer;
}

.btn-novo-produto:hover {
    opacity: 0.9;
}

.label-buscar {
    font-size: 14px;
    color: #414141;
}

.input-busca {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: white;

}

.input-busca input {
    width: 1400px;
    border: none;
    outline: none;
    background-color: white;

}


.produtos-lista-container {
    width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

}

.contador-produtos {
    color: #666;
    font-size: 14px;
    margin-left: 30px;

}

.produto-card {
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    border-left: 10px solid var(--cor-primaria);
    height: 100px;
    width: 1500px;
}

.produto-info-principal h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 4px;
    font-weight: 500;
}

.produto-info-principal p {
    font-size: 12px;
    color: #888;
}

.produto-info-secundaria {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.produto-info-secundaria p {
    font-size: 12px;
    color: #666;
}

.btn-preco {
    background-color: var(--cor-primaria);
    color: white;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 80px;

}

.btn-preco:hover {
    opacity: 0.9;
}