.novo-cliente-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    width: 1500px;
    height: 100px;
    background-color: white;
    padding-left: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

.titulo-novo-cliente {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.titulo-novo-cliente h1 {
    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.form-container {
    width: 1500px;
    height: 220px;
    background: white;
    margin: 40px 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    align-items: flex-start;
}

.form-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-content {
    display: flex;
    gap: 70px;
}

.image-upload-placeholder {
    width: 170px;
    height: 130px;
    margin-top: 10px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #666;
    font-size: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

.form-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
}

.form-group label {
    font-size: 14px;
    color: #333;
    font-weight: 500;
    display: block;
    text-align: left;
    width: 100%;
}

.form-group input,
.form-group select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.form-group input:focus {
    border-color: var(--cor-primaria);
}


.input-nome {
    width: 550px;

}

.input-cpf,
.input-rg {
    width: 325px;
}

.input-data {
    width: 150px;
}

.radio-group {
    display: flex;
    gap: 0px;
    align-items: center;
    height: 35px;

}

.radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    text-align: left;
    width: auto;
}


.actions-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 40px; 
}

.btn-acao {
    width: 200px;       
    height: 50px;       
    font-size: 18px;    
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-salvar {
    background-color: var(--cor-primaria, #1081fa); 
    color: white;
}

.btn-cancelar {
    background-color: #d81c1c;
    color:  white;
    margin-right: 15px; /* Espaço entre os botões */
}
.form-content-full {
    padding: 20px;
}