.clientes-page {
    width: calc(100vw - 275px);
    max-width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    gap: 20px;
    box-shadow: 0 4px 6px #0003;
    margin: auto;
    margin-top: 20px;
    padding: 0rem 3rem;
    height: 80px;
    color: var(--cor-primaria);
}

.form-cliente {
    max-width: 96%;
    height: 100vh;
    width: calc(100vw - 275px);
    padding: 1rem 2rem;
    max-width: 96%;
    margin: 2rem auto;
    margin-bottom: 4rem;
    box-shadow: 0 4px 6px #0003;
}

.form-grupo {
    display: flex;
    width: calc(100vw - 275px);
    max-width: 96%;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 2rem;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-imagem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    height: fit-content;
}

input[type="file"] {
    height: auto;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-imagem-label {
    /* 1. Ativa o Flexbox (Container Flexível) */
    display: flex; 

    /* 2. Centraliza o conteúdo HORIZONTALMENTE */
    justify-content: center; 
    
    /* 3. Centraliza o conteúdo VERTICALMENTE */
    align-items: center;    
    
    /* 4. Centraliza o TEXTO dentro do item (boa prática) */
    text-align: center;
    
    /* Outras propriedades existentes: */
    text-wrap: wrap;
    width: 150px;
    padding: 10px 15px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
    cursor: pointer;
    align-self: center; 
}

.input-texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: calc(100vw - 275px);
    margin: 0 1rem;
    gap: 1rem;
    max-width: 96%;
    padding: 0 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.input-texto > div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
    text-align: left;
    align-items: flex-start;
}

.input-texto > div > label{
    font-size: 1rem;
    color: var(--cor-primaria);
    text-align: left;
}

option{
    font-size: 1rem;
    color: var(--text-secondary-color);
}

h2{
    color: var(--cor-primaria);
    text-align: left;
    margin: 0rem 2rem;
}

input{
    padding: 0rem;
}

#nome-cliente{
    width: 200px;
}

#cpf-cliente{
    width: 150px;
}

#rg-cliente{
    width: 100px;
}

#genero{
    width: 120px;
}

#tipo-pessoa{
    width: 120px;
}

label{
    color: var(--cor-primaria);
    font-size: 1rem;
    text-align: left;
    align-items: flex-start;
    justify-self: start;
}

input{
    height: 30px;
}

select{
    height: 30px;
}

.label-nome{
    justify-self: self-start;
}

.form-grupo-endereco{
    margin: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: calc(100vw - 275px);
    max-width: 96%;
    justify-content: flex-start;
    margin-bottom: 6rem;
}

.form-grupo-endereco > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

