.bloco{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: var(--cor-primaria);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bloco h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 2rem;
}