.bloco{
    display: flex;
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    height: 300px;
    background-color: var(--cor-primaria);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.bloco h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 2rem;
}


