@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

:root{
  --cor-primaria: #2B3345;
  --cor-texto: #ffff;
  --cor-background: #F4F4F4;
  --text-color: #ffffff;
}

body{
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 275px);
  height: 100vh;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 10px 0 0;
  height: calc(100vh - 60px);
  width: 100%;
}