.main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.main-1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: flex-start;
}