.main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
   padding-left: 30px;
}

.line2 {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;

  margin-top: 110px;
  padding-left: 3px;
}