.bloco-acesso{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.bloco-acesso > div {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
}

.bloco-clientes {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
    color: white;
}

.bloco-vendas {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
    color: white;
}

.bloco-produtos {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 200px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
    color: white;
}

.bloco-ordem-servico {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
    color: white;
}   

p{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
