.bloco-acesso{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.bloco-acesso > div {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
}

.bloco-clientes {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 180px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
<<<<<<< HEAD
    color: var(--text-color);
=======
    color: white;
    border-radius: 4px;
>>>>>>> refs/remotes/origin/main
}

.bloco-vendas {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 180px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
<<<<<<< HEAD
    color: var(--text-color);
=======
    color: white;
    border-radius: 4px;
>>>>>>> refs/remotes/origin/main
}

.bloco-produtos {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 180px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
<<<<<<< HEAD
    color: var(--text-color);
=======
    color: white;
    border-radius: 4px;
>>>>>>> refs/remotes/origin/main
}

.bloco-ordem-servico {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 180px;
    font-weight: 200;
    height: 134px;
    background-color: var(--cor-primaria);
<<<<<<< HEAD
    color: var(--text-color);
=======
    color: white;
    border-radius: 4px;
>>>>>>> refs/remotes/origin/main
}   

p{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
}