.clientes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    width: 1500px;
    height: 100px;
    background-color: white;
    padding-left: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    

}

.titulo-clientes {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
}

.clientes-container h1 {

    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    background-color: white;
}

.clientes-box {
    width: 1500px;
    height: 170px;
    background: white;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    align-items: flex-start;
}

.btn-novo-cliente {
    background-color: var(--cor-primaria);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    width: 150px;
    font-size: 18px;
    cursor: pointer;
}

.btn-novo-cliente:hover {
    opacity: 0.9;
}

.label-buscar {
    font-size: 14px;
    color: #414141;
}

.input-busca {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: white;
    
}

.input-busca input {
    width: 1400px;
    border: none;
    outline: none;
   background-color: white;

}

