.clientes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    width: 100%;
    max-width: 1400px;
    height: 100px;
    background-color: white;
    padding-left: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    box-sizing: border-box;
}

.titulo-clientes {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
}

.clientes-container h1 {

    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    background-color: white;
}

.clientes-box {
    width: 100%;
    max-width: 1400px;
    height: 170px;
    background: white;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    align-items: flex-start;
    box-sizing: border-box;
}

.btn-novo-cliente {
    background-color: var(--cor-primaria);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    width: 158px;
    font-size: 18px;
    cursor: pointer;
}

.btn-novo-cliente:hover {
    opacity: 0.9;
}

.label-buscar {
    font-size: 14px;
    color: #414141;
}

.input-busca {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: white;
    width: 1300px;

}

.input-busca input {

    border: none;
    outline: none;
    background-color: white;

}


.clientes-lista-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin: 0 auto;
}

.contador-clientes {
    color: #666;
    font-size: 14px;
    margin-left: 30px;

}

.cliente-card {
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border: 1px solid #e0e0e0;
    border-left: 10px solid var(--cor-primaria);
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.cliente-info-principal h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 4px;
    font-weight: 500;
}

.cliente-info-principal p {
    font-size: 12px;
    color: #888;
}

.cliente-info-secundaria {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cliente-info-secundaria p {
    font-size: 12px;
    color: #666;
}

.btn-receita {
    background-color: var(--cor-primaria);
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}

.btn-receita:hover {
    opacity: 0.9;
}